@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.back-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    justify-content: center;
    display: flex;
}
.container1{
    background-color: white;
    width: 60%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px 0 40px;
    font-family: poppins;
    text-align: justify;
}
.container2 h2{
    width: 100%;
    justify-content: center;
    display: flex;
}
p{
    font-size: 12PX;
}
.container2 .padding{
    padding-left: 30px;
}
.padding span{
    font-weight: bold;
}

